<%- include("templates/header") %>
<a class="plus_btn_add addPhotoBtn" href="/task/new"><i class="fa fa-plus" aria-hidden="true"></i></a>
<div class="main_container">
    <h2>This is your to do list</h2>
    <div class="tasks_container">
        <% tasks.forEach(function(task){ %>
            <a href="/task/<%=task._id%>" class="task_container">
                <div>
                    <div class="priority_tag"><%= task.priority %></div>
                    <h3 class="title"><%= task.title %></h3>
                    <p class="description"><%= task.description.slice(0,60) %></p>
                    <h6 class="date"><%= task.date %></h6>
                </div>
            </a>
        <% }) %>
    </div>
</div>
<%- include("templates/footer") %>
