<%- include("templates/header") %>
<div class="single_main_container">
    <a class="close_task" href="/task"><i class="fa fa-1x fa-close" aria-hidden="true"></i></a>
    <h2><%= task.title %></h2>
    <p><%= task.description %></p>
    <h5><%= task.priority %></h5>
    <h6><%= task.Date %></h5>
    <div class="control_btns_container">
        <a href="/task/<%= task.id %>/edit" class="edit_btn">Edit</a>
        <form action="/task/<%= task.id %>?_method=DELETE" class="delete_form" method="post">
            <input type="submit" class="delete_btn" value="Delete Task">
        </form>
    </div>
</div>
<%- include("templates/footer") %>